body {
    margin: 0;
}
a {
    text-decoration: none;
    text-align: initial;
}
h2 {
    font-size: 40px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
#grid ol li {
    font-size:20px;
    padding-bottom: 15px;
}
#grid ol {
    list-style: none;
    width: 150px;
    margin:0;
    padding: 50px;
    width: 100px;
}
p, h3, h6 {
    text-align:center;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article {
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
}
#inside{
    text-align: initial;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 25px;
}
#disqus {
    padding: 50px;
}
@media(max-width: 800px) {
    #grid {
        display: block;
    }
    #grid ol {
        border-right: none;
    }
}